@model HouseWarehouseStore.Models.SizeModel

<div>
    <h4>Chi tiết Size</h4>
    <hr />
    <form asp-controller="Size" asp-action="Detail">
        <div class="form-body">
            <input type="hidden" asp-for="SizeId" />
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="SizeProduct" class="control-label"></label>
                    <input asp-for="SizeProduct" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="SizeProduct" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.ProductId, Model.AvailableProduct, "Sản phẩm", new { @class = "form-control", style = "width: 100%" , disabled = "disabled" })
                    <span asp-validation-for="ProductId" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>
</div>