@model HouseWarehouseStore.Models.ColorModel

@{
    ViewData["Title"] = "Sửa màu sắc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Màu sắc</h1>

    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sửa màu sắc</h6>
        </div>
        <div class="card-header">
            <a class="btn btn-danger" asp-action="Index" asp-controller="Contact"><i class="fa-solid fa-arrow-left"></i> Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ColorId" />
                    <div id="box">
                        <label for="colorPicker">Chọn màu:</label>
                        <input type="color" value="#8888ff" id="colorPicker">
                        <p id="output"></p>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code" class="control-label"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NameColor" class="control-label"></label>
                        <input asp-for="NameColor" class="form-control" />
                        <span asp-validation-for="NameColor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        let colorPicker = document.getElementById("colorPicker");
        let box = document.getElementById("box");
        let output = document.getElementById("output");

        box.style.borderColor = colorPicker.value;

        colorPicker.addEventListener("input", function(event) {
            box.style.borderColor = event.target.value;
        }, false);

        colorPicker.addEventListener("change", function(event) {
            //   output.innerText = "Color set to " + colorPicker.value + ".";
            $("#Code").val(colorPicker.value);
        }, false);

    </script>
}


