@model IEnumerable<HouseWarehouseStore.Models.ProductCategoryModel>

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="/"><i class="fa fa-home"></i>Trang Chủ</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Category" onclick="Category('@item.ProductCategorieId')" asp-route-id="@item.ProductCategorieId"><i class="@item.Icon"></i>@item.Name</a>
        </li>
    }

    @*<li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
    </li>*@
</ul>

@section Scripts{
    <script>

        function Category(id) {
            $.get("/Category/Index", { id: id }, function(data) {
            }

    </script>
}