@{
    ViewData["Title"] = "Thông báo!";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

<h4 style="margin:43px;">Đăng ký tài khoản thành công! Mời bạn nhấn <a href="http://localhost:6100/Login/Index?ReturnUrl=%2F">tại đây</a> để đăng nhập.</h4>