@model HouseWarehouseStore.Models.ArticleCategoryModel

@{
    ViewData["Title"] = "Tạo danh mục bài viết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Loại bài viết</h1>

    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tạo mới danh mục loại bài viết</h6>
        </div>
        <div class="card-header">
            <a class="btn btn-danger" asp-action="Index" asp-controller="ArticleCategory"><i class="fa-solid fa-arrow-left"></i> Về danh sách</a>
        </div>

        <div class="card-body">
            <div class="col-md-8">
                <form asp-action="Create" enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group bg-white">
                        <label asp-for="CategoryName" class="control-label"></label>
                        <input asp-for="CategoryName" class="form-control" />
                        <span asp-validation-for="CategoryName" class="text-danger"></span>
                    </div>
                    <div class="form-group bg-white">
                        <label asp-for="Url" class="control-label"></label>
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group bg-white">
                        <label asp-for="CategorySort" class="control-label"></label>
                        <input asp-for="CategorySort" class="form-control" />
                        <span asp-validation-for="CategorySort" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CategoryActive" /> @Html.DisplayNameFor(model => model.CategoryActive)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ShowHome" /> @Html.DisplayNameFor(model => model.ShowHome)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ShowMenu" /> @Html.DisplayNameFor(model => model.ShowMenu)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Hot" /> @Html.DisplayNameFor(model => model.Hot)
                        </label>
                    </div>
                    <div class="form-groupbg-white">
                        <label asp-for="TitleMeta" class="control-label"></label>
                        <input asp-for="TitleMeta" class="form-control" />
                        <span asp-validation-for="TitleMeta" class="text-danger"></span>
                    </div>
                    <div class="form-group bg-white">
                        <label asp-for="DescriptionMeta" class="control-label"></label>
                        <div id="DescriptionMeta"></div>
                        <input type="hidden" asp-for="DescriptionMeta" class="form-control" />
                        <span asp-validation-for="DescriptionMeta" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Tạo mới" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#DescriptionMeta').summernote({
            placeholder: 'Mời bạn soạn thảo',
            tabsize: 2,
            height: 500,              // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
            ]
        });

        $('#DescriptionMeta').on('summernote.change', function(we, contents, $editable) {
            var markupStr = $('#DescriptionMeta').summernote('code');
            console.log(markupStr)
            $("input#DescriptionMeta").val(markupStr);
        });
    </script>
}

