@model HouseWarehouse.Webapp.Models.BannerViewModel
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@*<div class="col-md-6">
    <div class="header-slider normal-slider">
        <div class="header-slider-item">
            @for (int index = 0; index < Model.BannerModels.Count; index++)
            {
                var slide = Model.BannerModels[index];
                <img src="@(Configuration["ApiFiles"]+"/files-banner/image/"+ @slide.CoverImage)" alt="Slider Image" />
                <div class="header-slider-caption">
                    <p>Some text goes here that describes the image</p>
                    <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                </div>
            }
        </div>
    </div>
</div>*@
<div class="col-md-6">
    <div class="header-slider normal-slider">
        <div class="header-slider-item">
            <img src="img/slider-1.jpg" alt="Slider Image" />
            <div class="header-slider-caption">
                <p>Some text goes here that describes the image</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
        </div>
        <div class="header-slider-item">
            <img src="img/slider-2.jpg" alt="Slider Image" />
            <div class="header-slider-caption">
                <p>Some text goes here that describes the image</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
        </div>
        <div class="header-slider-item">
            <img src="img/slider-3.jpg" alt="Slider Image" />
            <div class="header-slider-caption">
                <p>Some text goes here that describes the image</p>
                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="header-img">
        <div class="img-item">
            <img src="img/category-1.jpg" />
            <a class="img-text" href="">
                <p>Some text goes here that describes the image</p>
            </a>
        </div>
        <div class="img-item">
            <img src="img/category-2.jpg" />
            <a class="img-text" href="">
                <p>Some text goes here that describes the image</p>
            </a>
        </div>
    </div>
</div>
