@model HouseWarehouse.Webapp.Models.LoginViewModel

@{
    ViewData["Title"] = "Đăng nhập & Đăng ký";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    var returnUrl = @Context.Request.Query["returnurl"];
}

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Trang Chủ</a></li>
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Product">Sản Phẩm</a></li>
            <li class="breadcrumb-item active">Đăng Nhập & Đăng Ký</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Login Start -->
<div class="login">
    <div class="container-fluid">
        <div class="row">
            @await Component.InvokeAsync("Register")
            <div class="col-lg-6">
                <form asp-action="Index" asp-route-returnUrl="@returnUrl" method="post" class="sign-in-form">
                    @{
                        if (TempData["tq"] != null)
                        {
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                Message: @TempData["tq"]
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        }
                    }
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>E-mail / Username</label>
                                <input  asp-for="AccountName" class="form-control" type="text" placeholder="E-mail / Username">
                            </div>
                            <div class="col-md-6">
                                <label>Password</label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password">
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Keep me signed in</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" value="Login" class="btn" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Login End -->
